@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: 'Noto Sans KR', sans-serif;  
    font-weight: 400; 
    color: #3a3a3a; 
}
/* Headings and Logos */
h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}
#logo {
    font-family: 'Roboto', sans-serif;
    float: left;
    size: 75%;
    margin-left: 30px;
    color: #252525;

}
/* nav links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    ;
}
#menu, #logo {
    line-height: 75px;

}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;

}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#cover-text, #cover-text h2{
    color: #fff ;

}
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}
#hero {
    height: 600px;
    width: 100%;
    background-image: url('../images/yoga.jpg');
    /* animating the hero-zoomer*/
    animation-name: hero-zoomer;
    animation-duration: 6.7s;
    animation-fill-mode: forwards;
}
/* animates hero image with zoom effect */
@keyframes hero-zoomer {
from {
transform: scale(1);
}
to{
transform: scale(1.153);
}
}
#cover-text {
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif;  
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align:justify;
    width: 200px;
    height: 200px;
    padding-top:45px;
    padding-left: 15px;
    background-color: rgba(190, 144, 212,.7);
    bottom: 25px;
    right: 145px;
    position: absolute;
}
#yoga-ethos {
    height: 600px;
}
.grid-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.grid-container2
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.heading-one {
     
    line-height: 20px;
    text-align: left;
    margin-left: 150px;
}
.heading-two {
     
    line-height: 20px;
    text-align: right;
    margin-right: 150px;
}
.video-one{
    height: 100%;
    width: 50%;
    margin-left: 150px;
    text-align: center; 
}
.video-two{
    height: 100%;
    width: 50%;
    margin-right: 150px; 
    text-align: center; 
}
#welcome
{
    text-align: center;
    margin: 10px 0;
    font-size: 200%;
}
#container-one{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}
#circle-one{
    background: url('../images/pose.png') no-repeat center center;
    height: 100%;
    
}
#container-2{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}
#circle-2{
    background: url('../images/yoga-3.png') no-repeat center center;
    height: 100%;
    
}
.teach-one{
    background: url('../images/sarayoga.png') no-repeat center center;
    height: 100%;
    
}
.teach-two{
    background: url('../images/lisa1.png') no-repeat center center;
    height: 100%;
    
}
.teach-three{
    background: url('../images/chrisyoga.png') no-repeat center center;
    height: 100%;
    
}
#end{
    height: 300px;
}