@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}
body {
    font-family: 'Noto Sans KR', sans-serif;  
    font-weight: 300; 
    color: #3a3a3a; 
}
/* Headings and Logos */
h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}
/* Transformaitive yoga styled*/
#logo {
    font-family: 'Noto Sans KR', sans-serif;
    float: left;
    color: #252525;
    size: 50%;
    margin-left: 30px;
    text-decoration: none;

}

/* nav links & logo style*/
#nav {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}
#nav, #logo {
    line-height: 75px;
}
#nav li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}
#nav a {
    text-decoration: none;
    color: inherit;

}
#nav a:hover {
    border-bottom: 1px solid #3a3a3a;
}
/*Text box within the hero image*/
#cover-text, #cover-text h2{
    color: #fff ;

}
/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#hero {
    height: 600px;
    width: 100%;
    background-image: url('../images/yoga.jpg');
    /* animating the hero-zoomer*/
    animation-name: hero-zoomer;
    animation-duration: 6.7s;
    animation-fill-mode: forwards;
}
/* animates hero image with zoom effect */
@keyframes hero-zoomer {
from {
transform: scale(1);
}
to{
transform: scale(1.153);
}
}
/*text box within the hero image styled*/
#cover-text {
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif;  
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align:justify;
    width: 200px;
    height: 200px;
    padding-top:45px;
    padding-left: 15px;
    background-color: rgba(190, 144, 212,.7);
    bottom: 25px;
    right: 145px;
    position: absolute;
}
/*adds a margin botton to everything with this class name*/
.margin{
    margin-top: 50px;
    margin-bottom: 100px;
}
/*hr styled*/
hr {
    border: 0;
    width: 100%; 
                
    background-color:#3a3a3a;
    height: 2px;
  }
#yoga-ethos {
    height: 600px;
}
/*grid box for two divs*/
.grid-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-left: 150px;
    padding-right: 150px;
}
/*grid box for 3 divs*/
.grid-container-two
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 75px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}
/*why do yoga*/
.heading-one {
     
    line-height: 20px;
    text-align: left;
    margin-left: 150px;
}
/* what is yoga */ 
.heading-two {
     
    line-height: 20px;
    text-align: right;
    margin-right: 150px;
}
/*video text styled*/
.video-one{
    height: 100%;
      
    text-align: center; 
}
/*video text styled*/
.video-two{
    height: 100%;
   
    text-align: center; 
}
/*yoga power styled*/
#welcome
{
    text-align: center;
    margin: 10px 0;
    font-size: 200%;
}
/*cirled picture*/
#container-one{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}
/*image within circle 1*/
#circle-one{
    background: url('../images/pose.png') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
.image{
    width: 25%;

}
/*cirled picture*/
#container-2{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}
/*image within circle 1*/
#circle-2{
    background: url('../images/yoga-3.png') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    
}
/*text styled on instructors*/
.container-teach{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}
.list{
    color: #ed7014;
    font: inherit
}
ul{
    list-style-type: none;
}
.teach-text{
text-align: left;
}
#teach{
    text-align: center;
}
#teach2{
    text-align: center;
    font-size: x-large;
}
#end{
    height: 300px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #header {
      width: 100%;
    }
    #grid-container {
        width: 100%;
      }
      #heading-two {
        width: 100%;
      }
      #image-one {
        width: 100%;
      }
      #image {
        width: 100%;
      }
      #heading-one {
        width: 100%;
      }
      #footer{
          width: 100%;
      }
  }