@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: 'Noto Sans KR', sans-serif;  
    font-weight: 400; 
    color: #36454F; 
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
    padding: 1rem;
}
/*adds less weight to the font for a smaller screen*/
@media screen and (max-width: 1000px){
    body{
        font-weight: 300; 
    }
}
@media screen and (max-width: 800px){
    body{
        font-weight: 300; 
    }
}
@media screen and (max-width: 575px){
    body{
        font-weight: 300; 
    }
}
/* Headings and Logos */
h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #333333;
}
/*H4 style */
h4{
    margin-bottom: 10px;;
}
header{
    display: flex;
    flex-wrap: wrap;
}
/* Transformaitive yoga styled*/
#logo {
    font-family: 'Noto Sans KR', sans-serif;
    float: left;
    color: #333333;
    margin-left: 30px;
    text-decoration: none;

}
@media screen and (max-width: 575px){
    #logo{
        text-align: center; 
        font-size: medium;
        flex-wrap: wrap;
    }
}

/* nav links styled*/
#nav {
    display: flex;
    justify-content: flex-end;
    font-size: 150%;
    letter-spacing: 4px;
    flex-wrap: wrap;
    align-items: center;
   
}
@media screen and (max-width: 1200px){
    #nav{
   
        flex-direction: row;
        font-size: smaller; 
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;            
    }
}
@media screen and (max-width: 1000px){
    #nav{
        
        flex-direction: row;
        font-size: small; 
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center     
    }
}
@media screen and (max-width: 800px){
    #nav{
      
        flex-direction: row;
        font-size: smaller; 
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center      
    }
}
@media screen and (max-width: 575px){
    #nav{
        
        flex-direction: row;
        font-size:x-small; 
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;       
    }
}
@media screen and (max-width: 320px){
    #nav{
        
        flex-direction: row;
        font-size:x-small; 
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;       
    }
}
/* nav links & logo style*/
#nav, #logo {
    line-height: 75px;
}
/* nav link a style*/
#nav a {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
}
/*styles a line under the nav whe nyou hover*/
#nav a:hover {
    border-bottom: 1px solid #333333;
}
/*Text box within the hero image*/
#cover-text{
    color: #fff;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 10px;
    width: 100%;
    height: 100px;


}
/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*hero image for landing page*/
#hero {
    height: 600px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-image: url('../images/yoga.jpg');
    position: relative;
    /* animating the hero-zoomer*/
    animation-name: hero-zoomer;
    animation-duration: 6.7s;
    animation-fill-mode: forwards;
      /* grid styles */
    align-items: center;
}

/* animates hero image for landing page with zoom effect */
@keyframes hero-zoomer {
from {transform: scale(1);}
to
{transform: scale(1.25);}}

@media screen and (max-width: 1200px){
    #hero{
        height: 600px;
        width: 100%;
        overflow: hidden;
        background-repeat:no-repeat;
        background-position:center center;
        background-size: cover; 

    }
}
@media screen and (max-width: 1000px){
    #hero{
        height: 600px;
        width: 100%;
        overflow: hidden;
        background-repeat:no-repeat;
        background-position:center center;
        background-size: contain;
    }
}
@media screen and (max-width: 800px){
    #hero{
        
        width: 100%;
        overflow: hidden;
        background-repeat:no-repeat;
        background-position:center center;
        background-size: contain;

    }
}
@media screen and (max-width: 600px){
    #hero{
        
        width: 100%;
        overflow: hidden;
        background-repeat:no-repeat;
        background-position:center center;
        background-size: contain;

    }
}
@media screen and (max-width: 300px){
    #hero{
        width: 100%;
        overflow: hidden;
        background-repeat:no-repeat;
        background-position:center center;
        background-size: cover;

    }
}
/*hero image for every page except landing page*/
#hero-rest {
    height: 600px;
    width: 100%;
    background-image: url('../images/yoga.jpg');
      /* grid styles */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    /*keeps image the same size as the landing page*/
    transform: scale(1.25);
}
/*text box within the hero image styled*/

#cover-text {
    text-align: center;
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif;  
    text-transform: uppercase;
    letter-spacing: 10px;
    width: 100%;
    height: 120px;
    padding-top:30px;
    padding-left: 15px;
    background-color: rgba(190, 144, 212,.7);
    bottom: 25px;
    position: absolute;
}
/*adds a margin botton to everything with this class name*/
.margin{
    margin-top: 50px;
    margin-bottom: 100px;
}
/*hr styled*/
hr {
    border: 0;
    width: 100%;                 
    background-color:#3a3a3a;
    height: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
  } 
/*yoga power styled*/
#welcome
{ 
    text-align: center;
    margin: 10px 0;
    font-size: 200%;
}
.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content:space-around;
   
}
@media screen and (max-width: 1200px){
    .flex-container{
        flex-direction: column;
    }
}
@media screen and (max-width: 1000px){
    .flex-container{
        flex-direction: column;
    }
}
@media screen and (max-width: 800px){
    .flex-container{
        flex-direction: column;
    }
}
@media screen and (max-width: 575px){
    .flex-container{
        flex-direction: column;
    }
}
@media screen and (max-width: 450px){
    .flex-container{
        flex-direction: column;
    }
}
/*styles divs on instructors page*/
.wide{
    display: flex;
    justify-content: flex-start;
    width: 30%;
    padding: 5rem;
}

@media screen and (max-width: 1200px){
    .wide{
        flex-direction: column;
        width: 100%; 
    }
}
@media screen and (max-width: 1000px){
    .wide{
        flex-direction: column;
        width: 100%;
    }
}
@media screen and (max-width: 800px){
    .wide{
        flex-direction: column;
        width: 100%;
    }
}
@media screen and (max-width: 575px){
    .wide{
        flex-direction: column;
        width: 100%;
    }
}
@media screen and (max-width: 450px){
    .wide{
        flex-direction: column;
        width: 100%;
    }
}
/*makes img responsive*/
img{
    height: auto;
    width: auto;
    box-shadow: 10px 14px 20px 0px rgba(226,204,189,1);
}
@media screen and (max-width: 1200px){
    img{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;

    }
}
@media screen and (max-width: 1000px){
    img{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 95%;

    }
}
@media screen and (max-width: 800px){
    img{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90%;

    }
}
@media screen and (max-width: 575px){
    img{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 85%;
    }
}
/* what is yoga */ 
.box-one {
    line-height: 20px;
    text-align: right;
    padding: 5rem;
}
/* why do yoga*/
.box-two{     
    line-height: 20px;
    text-align: left; 
    padding: 5rem; 
}
/*video text styled*/
.video{     
    text-align: center; 
    padding: 5rem; 
}
/*image within circle 1*/
#circle-one{
    background: url('../images/pose.png') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
/*circled picture*/
.pic-container{
    padding: 10px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}
/*image within circle 1*/
#circle-2{
    background: url('../images/yoga-3.png') no-repeat center center;
    height: 100%;
    border-radius: 50%; 
    width: 300px;
    height: 300px; 
}
.pad{
    padding: 1rem;
}
.list{
    color: #ed7014;
    font: inherit
}
ul{
    list-style-type: none;
}
.teach-text{
text-align: left;
}
#teach{
    text-align: center;
}
#teach2{
    text-align: center;
    font-size: x-large;
}
.courses{
    padding: 2rem;
}
#contact-heading{
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-align: center;
}
/* Style inputs with type="text", type="email", select elements and textareas */
input[type=text],input[type=email], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  /* Styling the submit button */
  input[type=submit] {
    background-color: #ed7014;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker color */
  input[type=submit]:hover {
    background-color: #491d01;
  }
  
  /* Add a background color and some padding around the form */
  .contact-container {
    border-radius: 5px;
    background-color: #fed8b1;
    padding: 2rem;
}
.map-container{
    padding: 1rem;
}
/*footer styling*/
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;  
}
.footer a {
    padding: 0%;
}
@media screen and (max-width: 1200px){
    .footer{
        flex-direction: column;       
    }
}
@media screen and (max-width: 1000px){
    .footer{
        flex-direction: column;      
    }
}
@media screen and (max-width: 800px){
    .footer{
        flex-direction: column;       
    }
}
@media screen and (max-width: 575px){
    .footer{
        flex-direction: column;
    }
}
.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    color:#ed7014; 
    text-decoration:none; 
    cursor: pointer;  
}
i{
    padding: 5rem;
}

